@import "./roboto.css";

*,
body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: "black";
  align-items: "center";
}
